<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.unilever.julia">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:largeHeap="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppApplication"
        tools:replace="android:allowBackup">

        <meta-data
                android:name="firebase_crashlytics_collection_enabled"
                android:value="false" />

        <meta-data
                android:name="firebase_analytics_collection_enabled"
                android:value="false" />

        <!--
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/fcm_push_icon3" />

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/fcm_push_color" />
                -->

        <service android:name=".firebase.JuliaFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
                android:name=".ui.splash.SplashActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.inovacao.gallery.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.chat.ChatMainActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".ui.inovacao.projetos.InovacaoProjetosActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".ui.inovacao.detalhe.InovacaoDetalheActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".ui.agenda.AgendaActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".ui.status.detalhe.StatusDetalheActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".ui.status.pendentes.StatusPendentesActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".ui.login.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.pedidos.PedidosClienteActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.filtro.activity.pedido.FiltroPedidoActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.status.detalheTransporte.DetalheTransporteActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.tutorial.TutorialActivity"
                android:theme="@style/AppTheme.Splash"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.agenda.reuniao.AgendaReuniaoActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.clientes.ClientesActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.inovacao.projectsV2.ProjectsActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.inovacao.tradestoryEvaluation.TradeStoryEvaluationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
                android:name=".ui.inovacao.detailV2.DetailActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.menu.configuracao.ConfiguracaoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.menu.notificacao.NotificacaoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.menu.notificacao.detail.NotificacaoDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.ipv.IpvActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.ipv.categoriesPriorities.CategoriesPrioritiesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.ipv.unitaryGroup.GroupUnitaryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.ipv.products.IpvProductsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.ipv.offersDetail.OffersDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.ipv.management.ManagementActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.boletim.main.BoletimMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.boletim.multiple.BoletimMultipleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.boletim.area.AttendanceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--Intent filter to capture System Browser calling back to our app after Sign In-->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--Add in your scheme/host from registered redirect URI-->
                <data android:scheme="${msalApplicationId}"
                      android:host="auth" />
            </intent-filter>
        </activity>

    </application>

</manifest>